---
http_interactions:
- request:
    method: get
    uri: https://api.nomics.com/v1/currencies/ticker?ids=BTC&key=26d17980c2ca716492bae0cf370dbd9cab0e9841
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Pagination-Total-Items:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"BTC","currency":"BTC","symbol":"BTC","name":"Bitcoin","logo_url":"https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/btc.svg","status":"active","price":"63145.59598098","price_date":"2021-11-02T00:00:00Z","price_timestamp":"2021-11-02T09:57:00Z","circulating_supply":"18861512","max_supply":"21000000","market_cap":"1191021416342","market_cap_dominance":"0.4077","num_exchanges":"398","num_pairs":"72270","num_pairs_unmapped":"5349","first_candle":"2011-08-18T00:00:00Z","first_trade":"2011-08-18T00:00:00Z","first_order_book":"2017-01-06T00:00:00Z","rank":"1","rank_delta":"0","high":"66083.35882209","high_timestamp":"2021-10-20T00:00:00Z","1d":{"volume":"40966778528.81","price_change":"999.42762696","price_change_pct":"0.0161","volume_change":"-4084210970.31","volume_change_pct":"-0.0907","market_cap_change":"18910935816.24","market_cap_change_pct":"0.0161"},"7d":{"volume":"298533902908.24","price_change":"2592.93234443","price_change_pct":"0.0428","volume_change":"-59876047857.09","volume_change_pct":"-0.1671","market_cap_change":"49314204508.56","market_cap_change_pct":"0.0432"},"30d":{"volume":"1519096231362.75","price_change":"14925.68226980","price_change_pct":"0.3095","volume_change":"-16077055926.99","volume_change_pct":"-0.0105","market_cap_change":"282876493454.29","market_cap_change_pct":"0.3115"},"365d":{"volume":"21802585548376.09","price_change":"47666.13090197","price_change_pct":"3.0793","volume_change":"10915990367821.75","volume_change_pct":"1.0027","market_cap_change":"904158198541.25","market_cap_change_pct":"3.1519"},"ytd":{"volume":"19713874679065.92","price_change":"30267.83414703","price_change_pct":"0.9206","volume_change":"10060935801808.67","volume_change_pct":"1.0423","market_cap_change":"579924331167.16","market_cap_change_pct":"0.9490"}}]

        '
  recorded_at: Tue, 02 Nov 2021 09:57:56 GMT
recorded_with: VCR 6.0.0
