---
http_interactions:
- request:
    method: get
    uri: https://api.nomics.com/v1/currencies/ticker?ids=BTC,ETH&key=26d17980c2ca716492bae0cf370dbd9cab0e9841
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Pagination-Total-Items:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"BTC","currency":"BTC","symbol":"BTC","name":"Bitcoin","logo_url":"https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/btc.svg","status":"active","price":"63190.43465783","price_date":"2021-11-02T00:00:00Z","price_timestamp":"2021-11-02T09:54:00Z","circulating_supply":"18861512","max_supply":"21000000","market_cap":"1191867141584","market_cap_dominance":"0.4077","num_exchanges":"398","num_pairs":"72270","num_pairs_unmapped":"5349","first_candle":"2011-08-18T00:00:00Z","first_trade":"2011-08-18T00:00:00Z","first_order_book":"2017-01-06T00:00:00Z","rank":"1","rank_delta":"0","high":"66083.35882209","high_timestamp":"2021-10-20T00:00:00Z","1d":{"volume":"40966778528.81","price_change":"1044.26630381","price_change_pct":"0.0168","volume_change":"-4084210970.31","volume_change_pct":"-0.0907","market_cap_change":"19756661057.66","market_cap_change_pct":"0.0169"},"7d":{"volume":"298533902908.24","price_change":"2637.77102128","price_change_pct":"0.0436","volume_change":"-59876047857.09","volume_change_pct":"-0.1671","market_cap_change":"50159929749.98","market_cap_change_pct":"0.0439"},"30d":{"volume":"1519096231362.75","price_change":"14970.52094665","price_change_pct":"0.3105","volume_change":"-16077055926.99","volume_change_pct":"-0.0105","market_cap_change":"283722218695.71","market_cap_change_pct":"0.3124"},"365d":{"volume":"21802585548376.09","price_change":"47710.96957882","price_change_pct":"3.0822","volume_change":"10915990367821.75","volume_change_pct":"1.0027","market_cap_change":"905003923782.67","market_cap_change_pct":"3.1548"},"ytd":{"volume":"19713874679065.92","price_change":"30312.67282388","price_change_pct":"0.9220","volume_change":"10060935801808.67","volume_change_pct":"1.0423","market_cap_change":"580770056408.58","market_cap_change_pct":"0.9504"}},{"id":"ETH","currency":"ETH","symbol":"ETH","name":"Ethereum","logo_url":"https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/eth.svg","status":"active","price":"4437.61324096","price_date":"2021-11-02T00:00:00Z","price_timestamp":"2021-11-02T09:54:00Z"[...]
