<a href="/list/btc,xrp,eth">Task #1</a><br/>
<a href="/filtered_list/btc,eth/name,symbol,price,circulating_supply,max_supply">Task #2</a><br/>
<a href="/to_currency/btc/ZAR">Task #3 (BTC in ZAR)</a> <a href="/to_currency/eth/GBP">Task #3 (ETH in GBP)</a><br/>
<a href="/to_currency/eth/btc">Task #4 (ETH in BTC)</a>
